.main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    width: fit-content;
    background: rgba(0, 0, 0, 0.04);
    border-radius: var(--mantine-radius-lg);
}

.content_text {
    text-shadow: rgba(0, 0, 0, 0.25) 0 0 4px;
}

.content_image_box {
}

@media (max-width: 579px) {
    .main_container {
        width: 100%;
    }

    .content {
        background: unset;
        border-radius: unset;
    }
}