.main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar_box {

}

.content_box {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
}

.arrow_button_box {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.arrow_button_image {
    filter: invert(82%) sepia(0%) saturate(12%) hue-rotate(170deg) brightness(83%) contrast(88%);
}

@media (max-width: 579px) {

}