.main_container {
    width: 100%;
    background: #E6E6E6;
    height: 26px;
    border-radius: var(--mantine-radius-lg);
    position: relative;
    display: flex;
}

.progress {
    background: rgb(85,100,236);
    background: linear-gradient(90deg, rgba(85,100,236,1) 0%, rgba(0,224,255,1) 100%);
    height: 26px;
    border-radius: var(--mantine-radius-lg);
}

.level_box {
    position: absolute;
    top: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.level_block {
    background: rgba(185, 185, 185, 0.5);
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mantine-radius-lg);
}