.main_container {
    width: 100%;
    display: flex;
}

.content {
    width: 75%;
}

.function_block {
    width: 25%;
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
    }
}

.header_block {
    width: 100%;
    display: flex;
}

.title_block {
    width: 100%;
}

.action_block {
    height: 100%;
}

.item {
    width: 100%;
}

.data {
    width: 100%;
    background: var(--primary-light);
    border-radius: var(--mantine-radius-lg);
}

.item_content {
    display: flex;
    justify-content: space-between;
    background-color: var(--disabled-light);
    border-radius: var(--mantine-radius-md);
}

.buttons {
    display: flex;
    gap: 8px;
}

@media (max-width: 579px) {
    .buttons {
        flex-direction: column;
    }
}