.main {
    width: 100%;
    display: flex;
}

.image_block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_box {
    display: flex;
    justify-content: center;
}

.pin_block {
    width: 100%;
}

.keyboard_box {
    display: flex;
    justify-content: center;
}