.main_container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: fixed;
    background: white;
    top: 56px;
    width: 100vw;
    gap: 8px;
    border-radius: 0 0 var(--mantine-radius-lg) var(--mantine-radius-lg);
    z-index: 100;
}
