.login_update_password_block {
    letter-spacing: 0.025em;
}

.login_update_password_link {
    text-decoration: none;
    color: #1A1A1A;
}

.login_update_password_link:hover {
    color: #737070;
}

.login_update_password_link:active {
    color: #0c55ec;
}