.main_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content {
    display: flex;
}

.image_box {
    display: flex;
    justify-content: center;
}

.text_box {
    display: flex;
    flex-direction: column;
}

.description_text {
    line-height: 15px !important;
 }

.action_box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.image_icon {
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}