.main_container {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    position: relative;
}

.content_main {
    width: 100%;
    margin-right: 280px;
}

.content_help_block {
    width: 280px;
    position: fixed;
    right: 48px;
}

.tab_panel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 579px) {
    .content {
        /*margin-top: 80px;*/
    }
}

@media (max-width: 1280px) {
    .content_main {
        margin-right: 0;
    }
}