.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_box {
    background-color: var(--background-light);
    width: max-content;
    height: max-content;
    border-radius: var(--mantine-radius-lg);
    display: flex;
    align-items: center;
}

.image_box {

}