.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.avatar_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.name_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button_root {
    width: 80%;
    border-width: 2px;
    padding: 0;
}

@media (max-width: 579px) {
    .avatar_block {
        position: absolute;
        top: calc(-90px - var(--mantine-spacing-sm));
    }

    .name_block {
        margin-top: calc(90px + var(--mantine-spacing-md));
    }

    .content {
        position: relative;
        width: 70%;
    }
}